body {
    font-family: Arial;
    background: #f1f3ff;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #4b5bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2f3de0;
}

.question {
    margin-bottom: 15px;
}
